.game-container {
  text-align: center;
  margin-top: 50px;
  
}

.board {
  display: inline-block;
}

.grid {
  border-spacing: 5px;
  margin-left: 70px;
  margin-top: 20px;

}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
